################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/CGLib2023/.vs/CGLib2023/v16
/CGLib2023/Math/x64/Debug
/CGLib2023/x64/Debug
/.vs/CGLib2023/v16
/Math/x64/Debug
/x64/Debug
