################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/CGLib2023/.vs/CGLib2023/v16
/CGLib2023/Math/x64/Debug
/CGLib2023/x64/Debug
/.vs/CGLib2023/v16
/Math/x64/Debug
/x64/Debug
/packages
/Shader/x64/Debug
/UI/x64/Debug
/Math/x64/Release
/Shader/x64/Release
/UI/x64/Release
/x64/Release
/CGLib/.vs/CGLib2023/v16
/CGLib/Math/x64
/CGLib/Shader/x64
/CGLib/UI/x64/Debug
/CGLib/UI/x64/Release
/.vs/Crystal2023/v16
/CGLib/packages
/RendererView/x64/Debug
/CGLib/x64/Debug
/CGLib/UISample/x64/Debug
/CGLib/UISample/imgui.ini
/CGLib/UISample/x64/Release
/CGLib/x64/Release
/RendererView/x64/Release
/RendererView/imgui.ini
/CGLib/Graphics/x64/Release
/CGLib/Graphics/x64/Debug
/CrystalRenderer/RendererView/x64
/CrystalRenderer/RendererView/imgui.ini
/CrystalRenderer/Renderer/x64
/ThirdParty/forest-skyboxes
/ThirdParty/hdr
/Scene/x64/Debug
/Crystal/Renderer/x64
/Crystal/RendererView/x64
/Crystal/RendererView/imgui.ini
/Crystal/Scene/x64/Debug
/Crystal/Scene/x64/Release
/Crystal/SceneView/x64/Debug
/Crystal/SceneView/imgui.ini
/Crystal/AppBase/x64/Debug
/Crystal/AppBase/x64/Release
/Crystal/SceneView/x64/Release
/Crystal/Space/x64/Debug
/Crystal/Space/x64/Release
/Crystal/SpaceView/x64/Debug
/CGLib/MathTest/x64/Debug
/CGLib/MathTest/x64/Release
/Crystal/SpaceTest/x64/Release
/Crystal/SpaceTest/x64/Debug
/CGLib/GraphicsTest/x64/Debug
/Crystal/SpaceView/imgui.ini
/Crystal/Physics/x64/Debug
/Crystal/Physics/x64/Release
/CGLib/Shape/x64/Debug
/CGLib/GraphicsTest/x64/Release
/CGLib/Shape/x64/Release
/Crystal/SpaceView/x64/Release
/Crystal/PhysicsView/x64/Debug
/Crystal/PhysicsView/imgui.ini
/Crystal/PhysicsView/x64/Release
/Crystal/Numerics/Numerics/x64/Debug
/Crystal/Numerics/Numerics/x64/Release
/Crystal/Numerics/NumericsTest/x64/Debug
/Physics/Fluid/x64
/Physics/FluidView/x64
/Physics/FluidView/imgui.ini
/Physics/FluidRenderer/x64/Debug
/SandBox/PBRenderer/x64/Debug
/SandBox/PBRendererView/x64/Debug
